@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply font-primary bg-primary text-primaryDark dark:bg-primaryDark dark:text-primary leading-loose;
	}

	.h1 {
		@apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
	}
	.h2 {
		@apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
	}
	.h3 {
		@apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
	}

	.text-outline {
		-webkit-text-stroke: 1px #e5e5e5;
	}

	.dark-text-outline {
		-webkit-text-stroke: 1px #1c1c22;
	}

	.text-outline-hover {
		-webkit-text-stroke: 1px #0284c7;
	}

	.text-outline-none {
		-webkit-text-stroke: 0;
	}

	.typewriter-container {
		display: inline-block;
		min-width: 200; /* Adjust based on the longest word */
	}
}
